<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login.html</title>
    <style>
        .field-error {
            color: red;
        }
    </style>
</head>
<body>
<h2>login.html</h2>
<form action="/member/login" method="post" th:object="${login}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err: ${#fields.globalErrors()}" th:text="${err}">글로벌오류</p>
    </div>
    <input type="text" th:field="*{memberEmail}"  placeholder="이메일"><br>
    <p th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}" th:errorclass="field-error"></p>
    <input type="text" th:field="*{memberPassword}" placeholder="비밀번호"><br>
    <p th:if="${#fields.hasErrors('memberPassword')}" th:errors="*{memberPassword}" th:errorclass="field-error"></p>
    <input type="submit" value="로그인">
</form><br>
<a href="/member/logout">로그아웃</a><br><br><br>
<a href = "/">홈으로</a><br>
</body>
</html>